.prsub3 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial; BACKGROUND-COLOR: #000000
}
.prsub4 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #000000
}
.prsub5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial; BACKGROUND-COLOR: #000000
}
.underline {
	TEXT-DECORATION: underline
}
