spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:oracle:thin:@localhost:1555/XEPDB1
    username: GAIROLA
    password: Gairola1981
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    show-sql: true0
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true


jwt:
  secret-key: my-very-secure-and-long-secret-key
  token-validity: 3600000 # 1 hour

server:
  port: 9001

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

logging:
  level:
    root: INFO
    org.springframework.transaction: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org:
          springframework:
            security:
              config:
                annotation:
                  authentication:
                    configuration:
                      InitializeUserDetailsBeanManagerConfigurer=error:
  pattern:
    console: '{"service":"auth-service", "timestamp":"%d{yyyy-MM-dd HH:mm:ss}", "level":"%p", "message":"%m"}'
  file:
    name: /var/log/auth-service.log

management:
  endpoints:
    web:
      exposure:
        include: "*"
