
server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
   endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
   tags:
      application: spring-boot-demo

spring:
  docker:
    compose:
      enabled: false


